DATABASE_USER=nuxt_user
DATABASE_PASSWORD=password
DATABASE_ROOT_PASSWORD=root
DATABASE_NAME=database
# Auth: Nutzer im Format "user1:passwort1,user2:passwort2"
# Bitte sichere Passwörter verwenden!
AUTH_USERS=admin:Test123!,fcwuser:HGL14
NUXT_SESSION_PASSWORD=icherstelleeinlangespasswort!FCW
